<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>G Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/flat-ui.css">     
        
        <link rel="stylesheet" href="css/g-main.css">
        <link rel="stylesheet" href="css/g-shop.css">
        <link rel="stylesheet" href="css/g-light.css">
        
        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

		<div class="onofffade"></div>	

        <div class="wrap container">
		    <header>
		    	<div class="top-header row">
			    	<div class="social col-md-4">
				    	<p>G template <i class="col1-text">everywhere</i></p>
				    	<ul>
				    		<li><a class="col1h" target="_blank" href="http://www.facebook.com/michelegiorgi" title="Facebook">&#62220;</a></li>
				    		<li><a class="col1h" target="_blank" href="http://www.twitter.com/michelegiorgi" title="Twitter">&#62217;</a></li>
				    		<li><a class="col1h" target="_blank" href="#" title="Google+">&#62223;</a></li>
				    		<li><a class="col1h" target="_blank" href="http://www.vimeo.com/michelegiorgi" title="Vimeo">&#62214;</a></li>
				    		<li><a class="col1h" target="_blank" href="#" title="Pinterest">&#62226;</a></li>
				    		<li><a class="col1h" target="_blank" href="http://www.dribbble.com/michelegiorgi" title="Dribbble">&#62235;</a></li>
				    	</ul>
			    	</div>
			    	<div class="logo col-md-4">
			    		<a href="index.html">
			    			<div class="hexagon animated">
				    			<div class="logo-top col1-border"></div>
				    			<div class="logo-middle col1"></div>
				    			<div class="logo-bottom col1-border"></div>
				    			<div class="logo-image"></div>
			    			</div>
			    			<!--<div class="animated"><img src="images/example_logo.png" data-src2x="images/example_logo_retina.png" alt=""></div>-->
			    		</a>
			    	</div>
			    	<div class="info col-md-4">
			    		<p>Howdy John Doe  |  <a href="#">Logout</a></p> 
			    		<div class="cart">
				    		<div class="counter col1">3</div>
				    		<a class="col1h" href="checkout.html">&#59197;</a>
			    		</div>
				    	<form class="search">
				    		<input class="col1h" type="submit" value="&#128269;">
					    	<input type="text" placeholder="Search">
					    	<div class="clearfix"></div>
				    	</form>
			    	</div>
		    	</div><!--/.top-header-->	
		    	
		        <div class="nav navbar-inverse">
		            <div class="navbar-inner">
		                <div class="container">
		                    <a class="btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		                        <i class="icons">&#9776;</i> MENU
		                    </a>
		                    <div class="navbar-collapse collapse">
		                        <ul class="navbar-nav">
		                            <li class="active"><a href="index.html"><i class="icons col1-text">&#8962;</i> Home</a></li>
		                            <li class="dropdown">
		                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icons col1-text">&#9998;</i> Blog<b class="caret"></b></a>
			                            <div class="drop-container">
			                                <ul class="dropdown-menu">
			                                    <li><a href="post.html">Post</a></li>
			                                    <li><a href="archive.html">Archive</a></li>
			                                    <li><a href="page.html">Page</a></li>
			                                </ul>
			                            </div>
		                            </li>
		                            <li class="dropdown">
		                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icons col1-text">&#59197;</i> Shop<b class="caret"></b></a>
			                            <div class="drop-container">
			                                <ul class="dropdown-menu">
			                                    <li><a href="shop.html">Showcase</a></li>
			                                    <li><a href="product.html">Single product</a></li>
			                                    <li><a href="checkout.html">Cart/Checkout</a></li>
			                                </ul>
			                            </div>
		                            </li>
		                            <li class="dropdown">
		                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icons col1-text">&#59190;</i> Portfolio<b class="caret"></b></a>
			                            <div class="drop-container">
			                                <ul class="dropdown-menu">
			                                    <li><a href="portfolio.html">Gallery</a></li>
			                                    <li><a href="project.html">Single project</a></li>
			                                </ul>
			                            </div>
		                            </li>
		                            <li class="dropdown">
		                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icons col1-text">&#9734;</i> Features<b class="caret"></b></a>
			                            <div class="drop-container">
			                                <ul class="dropdown-menu">
			                                    <li><a href="colors.html">Color schemes</a></li>
			                                    <li><a href="typo.html">Icons and typography</a></li>
			                                    <li><a href="form.html">Form elements</a></li>
			                                </ul>
			                            </div>
		                            </li>
		                            <li class="dropdown">
		                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icons col1-text">&#9874;</i> Custom<b class="caret"></b></a>
			                            <div class="drop-container">
			                                <ul class="dropdown-menu">
			                                    <li><a href="wide-home.html">Wide slide home-page</a></li>
			                                    <li><a href="wide-post.html">Wide post-page with background image</a></li>
			                                </ul>
			                            </div>
		                            </li>
		                            <li><a href="contacts.html"><i class="icons col1-text">&#9993;</i> Contacts</a></li>
		                        </ul>
		                    </div><!--/.nav-collapse -->
		                </div>
		            </div>
		        </div><!--/.navbar-->
		        
		    </header><!--/header -->
		    
			<div class="block title-block">
				<div class="line"></div>
				<div class="title-info">
					<a href="feedback.html" class="feedback col1">Feedback</a>
					<div class="anchestor-page col2 col2a-border"><b class="caret"></b><a class="colfff" href="shop.html">Shop</a></div>
					<div class="page-icon col1">&#59197;</div>
					<h1>Checkout</h1>
					<h3 class="subtitle col1-text">Donec adipiscing</h3>
				</div>
			</div>

            
            <div class="pagebody">
            
				
	        	<div class="row">
	        	
		        	<div class="col-md-12">

						<form id="checkout">

							<ol id="progressbar">
								<li class="point col1b col1a active" value="2">Your cart</li>
								<li class="point col1b col1a" value="3">Personal Details</li>
								<li class="point col1b col1a" value="4">Shipment details</li>
								<li class="point col1b col1a" value="5">Payment</li>
							</ol>

							<fieldset class="col2-alpha">
								<h2>Your cart</h2>
								<h3><strong class="counter">3</strong> items in your cart</h3>
								<ul class="shop-list list">
									<li class="mix col2-alpha" data-name="Product 1" data-price="1199.99">
										<a href="#"><div class="img_wrapper"><img src="images/sample/product1.jpg" alt=" "/><div class="clearfix"></div></div></a>
										<div class="meta price"><p>1199,99 €</p></div>
										<h2 class="title col1-text">Product 1</h2>
										<h4>computer, smartphone, printer</h4>
										<a class="readmore col2" href="#">Read more</a>
										<input class="quantity" type="number" value="2" min="1">
										<a href="#" class="remove-product close">x</a>
									</li>
									<li class="mix col2-alpha" data-name="Product 2" data-price="1299.99">
										<a href="#"><div class="img_wrapper"><img src="images/sample/product2.jpg" alt=" "/><div class="clearfix"></div></div></a>
										<div class="meta price"><p>1299,99 €</p></div>
										<h2 class="title col1-text">Product 2</h2>
										<h4>computer</h4>
										<a class="readmore col2" href="#">Read more</a>
    									<input class="quantity" type="number" value="1">
										<a href="#" class="remove-product close">x</a>
									</li>								
									<li class="mix col2-alpha" data-name="Product 3" data-price="499.00">
										<a href="#"><div class="img_wrapper"><img src="images/sample/product3.jpg" alt=" "/><div class="clearfix"></div></div></a>
										<div class="meta price"><p>499,00 €</p></div>
										<h2 class="title col1-text">Product 3</h2>
										<h4>computer</h4>
										<a class="readmore col2" href="#">Read more</a>
    									<input class="quantity" type="number" value="1">
										<a href="#" class="remove-product close">x</a>
									</li>								
								</ul>
								<div class="info-total body row">
									<div class="promocode col-md-6">
										<h6>Promocode</h6>
										<input type="text" placeholder="XXXXXX">
										<input class="btn col2" type="button" value="Add">
									</div>
									<div class="total col-md-6">
										<p class="subtotal">Subtotal: <strong>00.00 €</strong></p>
										<p class="taxes">Taxes (10%): <strong>00.00 €</strong></p>
										<p class="discount">Discount (5%): <strong>00.00 €</strong></p>
										<p class="delivery">Delivery: <strong>00.00 €</strong></p>
									</div>
								</div>
    							<div class="totalorder">Total: <strong>00.00 €</strong></div>
								<input type="button" name="next" class="next_step btn col1" value="Checkout" />
							</fieldset>
							
							<fieldset class="col2-alpha">
								<h2>Personal Details</h2>
								<h3>Lorem Ipsum sit dolor et amen</h3>
								<div class="row">
									<div class="col-md-6">
										<h6>Sign Up</h6>
										<input type="text" name="fname" placeholder="First Name" />
										<input type="text" name="lname" placeholder="Last Name" />
										<input type="text" name="company" placeholder="Company" />
										<input type="text" name="email" placeholder="E-mail" />
										<input type="text" name="username" placeholder="Username" />
										<input type="text" name="password" placeholder="Password" />
										<label class="checkbox" for="checkbox1"><span class="icon"></span><span class="icon-to-fade"></span>
											<input type="checkbox" value="" id="checkbox1">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit donec adipiscing.
										</label>
									</div>
									<div class="col-md-6">
										<h6>Sign In</h6>
										<input type="text" name="username-l" placeholder="username" />
										<input type="text" name="password-l" placeholder="password" />
									</div>
								</div>
								<input type="button" name="previous" class="previous_step btn col2" value="Previous" />
								<input type="button" name="next" class="next_step btn col1" value="Next" />
							</fieldset>
							
							<fieldset class="col2-alpha">
								<h2>Shipment Details</h2>
								<h3>Lorem Ipsum sit dolor et amen</h3>
								<div class="shipment">
				                    <a href="#"><div class="card active col1-border ups"></div></a>
				                    <a href="#"><div class="card col1-border tnt"></div></a>
				                    <a href="#"><div class="card col1-border fedex"></div></a>
								</div>
								<textarea name="address" placeholder="Address"></textarea>
								<input type="text" name="city" placeholder="City" />
								<input type="text" name="post" placeholder="Post code" />
								<input type="text" name="post" placeholder="Country" />
								<input type="text" name="phone" placeholder="Phone" />
								<textarea name="note" placeholder="Note"></textarea>
								<input type="button" name="previous" class="previous_step btn col2" value="Previous" />
								<input type="button" name="next" class="next_step btn col1" value="Next" />
							</fieldset>
							
							<fieldset class="col2-alpha">
								<h2>Payment</h2>
								<h3>Lorem Ipsum sit dolor et amen</h3>
								<div class="payment">
				                    <a href="#"><div class="card active col1-border active amex"></div></a>
				                    <a href="#"><div class="card col1-border cirrus"></div></a>
				                    <a href="#"><div class="card col1-border discover"></div></a>
				                    <a href="#"><div class="card col1-border ebay"></div></a>
				                    <a href="#"><div class="card col1-border paypal"></div></a>
				                    <a href="#"><div class="card col1-border visa"></div></a>
								</div>
								<input type="text" name="cardnumber" placeholder="Card number" />
								<input type="text" name="cardname" placeholder="Name on card" />
								<div class="row creditinfo">
									<div class="col-md-4">
										<input type="text" name="company" placeholder="Expiration month" />
									</div>
									<div class="col-md-4">
										<input type="text" name="email" placeholder="Expiration year" />
									</div>
									<div class="col-md-4">
										<input type="text" name="username" placeholder="CVV" />
									</div>
								</div>
								<input type="button" name="previous" class="previous_step btn col2" value="Previous" />
								<input type="submit" name="submit" class="btn col1" value="Next" />
							</fieldset>
						</form>

					</div>
						
	           </div><!-- /row -->
	          
            </div><!-- /wrap -->
            
            <footer>
	        	<div class="footer-info">
		            <div class="row">
		                <div class="col-md-3">
		                    <div class="text">
			                    <h2 class="col1 col1a-border"><b class="caret"></b>MAIN SECTIONS</h2>
			                    <ul>
				                    <li><a href="page.html">About us</a></li>
									<li><a href="page.html">Portfolio</a></li>
									<li><a href="page.html">Features</a></li>
									<li><a href="page.html">E-commerce</a></li>
									<li><a href="page.html">Services</a></li>
									<li><a href="page.html">Privacy policy</a></li>
									<li><a href="contacts.html">Contacts</a></li>
								</ul>
		                    </div>
		                </div>
		                <div class="col-md-3">
		                    <div class="text">                
		                    	<h2 class="col1 col1a-border"><b class="caret"></b>OUR PARTNERS</h2>
			                    <ul>
				                    <li><a target="_blank" href="http://www.pixedelic.com/">Pixedelic</a></li>
									<li>ThemeForest</li>
									<li>CodeCanyon</li>
									<li>Twitter</li>
									<li>Facebook</li>
									<li>Dribbble</li>
									<li>Threadless</li>
								</ul>
		                    </div>
		               </div>
		                <div class="col-md-3 payments">
   		                    <div class="text">
			                    <h2 class="col1 col1a-border"><b class="caret"></b>PAYMENTS AND SHIPPING</h2>
			                    <div class="row">
				                    <div class="col-md-4"><div class="card amex"></div></div>
				                    <div class="col-md-4"><div class="card cirrus"></div></div>
				                    <div class="col-md-4"><div class="card discover"></div></div>
		   	                    </div>
			                    <div class="row">
				                    <div class="col-md-4"><div class="card ebay"></div></div>
				                    <div class="col-md-4"><div class="card paypal"></div></div>
				                    <div class="col-md-4"><div class="card visa"></div></div>
				                </div>
				                <hr>
			                    <div class="row">
				                    <div class="col-md-4"><div class="card ups"></div></div>
				                    <div class="col-md-4"><div class="card tnt"></div></div>
				                    <div class="col-md-4"><div class="card fedex"></div></div>
			                    </div>
   		                    </div>
		                </div>
		                <div class="col-md-3">
		                    <div class="text">
			                    <h2 class="col1 col1a-border"><b class="caret"></b>SIGN UP FOR UPDATES</h2>
			                    <form>
			                    	<input type="text" value="" placeholder="Themeforest Account" />
			                    	<input type="text" value="" placeholder="License Key" />
			                    	<input class="btn col2" type="submit" value="Send">
			                    </form>
		                    </div>
		               </div>
		            </div>
	        	</div>
            </footer><!-- /footer -->
            
	        <div class="copy">
		        <div class="logo">
			        <a href="index.html">
		    			<div class="hexagon">
			    			<div class="logo-top col1-border"></div>
			    			<div class="logo-middle col1"></div>
			    			<div class="logo-bottom col1-border"></div>
			    			<div class="logo-image"></div>
		    			</div>
		    			<!--<div class="standard"><img src="images/logo.png"></div>-->
			        </a>
		        </div>
		        <div>
		        	Copyright © 2013. <strong>Pixedelic</strong>. All rights reserved<br/>
			        1 Infinite Loop - Cupertino, CA 95014 - 408.996.1010 - info@pixedelic.com
		        </div>
	        </div><!-- /copy -->

       	</div><!-- /container -->
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/vendor/bootstrap.min.js"></script>        
        <script src="js/vendor/jquery-ui-1.10.0.custom.min.js"></script>
        
	    <script src="js/plugins/custom_checkbox_and_radio.js"></script>
	    <script src="js/plugins/custom_radio.js"></script>
	    <script src="js/plugins/bootstrap-tooltip.js"></script>
	    <script src="js/plugins/jquery.placeholder.js"></script>
	    <script src="js/plugins/jquery.tagsinput.js"></script>
	    <script src="http://vjs.zencdn.net/c/video.js"></script>
		<script src="js/plugins/jquery.sequence-min.js"></script>
		<script src="js/plugins/jquery.mixitup.min.js"></script>
		<script src="js/plugins/jquery.magnificpopup.js"></script>

        <script src="js/main.js"></script>
        <script src="js/checkout.js"></script>

        <!-- ###### style editor ###### -->
        <script src="js/plugins/bootstrap-colorpicker.js"></script>
        <script src="js/plugins/jquery.cookie.js"></script>
        <link rel="stylesheet" href="css/g-style-editor.css">
        <script src="js/skin.js"></script>
        <!-- ###### style editor ###### -->

        
    </body>
</html>
